.container{
    background: lightseagreen;
    color: lightsalmon;
    width: 600px;
    height: 80px;
    text-align: center;
    padding:10px;
    margin: auto;
    -webkit-text-stroke-width:thin;
    -webkit-text-stroke-color: darkslateblue;
}
